@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap");

:root {
  --primary-color: #293241;
  --primary-font-color: #f0efeb;
  --primary-color-btn: #dee2e6;
  --secondary-color-btn: #94958b;
  --third-color-btn: #031d44;
  --border-div-color: #00b4d8;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-family: "Nunito", sans-serif;
  /* text-transform: capitalize // pone en mayuscula la primer palabra, uppercase pone todo en mayuscula y lowercase pone en minuscula */
  /* text-decoration: none; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*
#343a40;
*/
