.searchbar {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.refresh {
  /* display: grid;
  grid-column: 4/5; */
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  border-style: solid;
  border-width: 2px;
  color: var(--primary-font-color);
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: row;
  margin-left: 70px;
}

.a {
  display: flex;
  flex-direction: row;
  position: relative;
}

.input {
  position: relative;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  border-color: #7364d2;
  border-width: 3px;
  border-style: solid;
  background-color: var(--primary-font-color);
  width: 400px;
  height: 2rem;
  /* border-color: transparent; */
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 0.5rem 4rem 0.5rem 0.5rem;
}

.submit {
  position: absolute;
  /* top: calc(0.5rem + 1px);
  right: calc(0.5rem + 1px); */
  top: 5px;
  right: 5px;

  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  border-style: solid;
  border-width: 2px;
  color: var(--primary-color);
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  transition: 250ms;
}

.submit:hover {
  color: var(--primary-font-color);
  background-color: var(--primary-color);
}

.refresh:hover {
  color: var(--primary-color);
  background-color: var(--primary-font-color);
}
