.grid {
  grid-row: 2/3;
  grid-column: 1/6;
  display: grid;
  grid-template-columns: repeat(6, 215px);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.container {
  grid-column: 2/4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 10px;
}

.sort,
.filter {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
}

.select ::-ms-expand {
  display: none;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--scroll-bar-color);
  border-radius: 4px;
}

.select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 3px 3px;
  height: 30px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #f0f0f0;
  color: #7b7b7b;
  color: var(--scroll-bar-color);
  font-size: 0.8em;
  font-weight: 600;
  letter-spacing: 1px;
  border: 3px solid #7364d2;
  border-radius: 12px;
  position: relative;
  transition: all 0.25s ease;
}

.select :hover {
  background: #b1e8cd;
}

.sort {
  grid-column: 2/3;
  max-width: 140px;
}

.filter {
  grid-column: 3/4;
  max-width: 160px;
}

.containerLi {
  grid-column: 4/6;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 1fr);
  color: var(--primary-font-color);
  list-style: none;
}

.fil {
  grid-column: 1;
  font-size: 1rem;
  padding: 0.2rem;
  text-align: center;
  color: var(--primary-font-color);
}

.li {
  font-size: 1rem;
  padding: 0.2rem;
  text-align: center;
  color: var(--primary-font-color);
}
