.grid {
  grid-row: 2/3;
  grid-column: 1/6;
  display: grid;
  grid-template-columns: repeat(6, 215px);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.container {
  grid-column: 2/4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  /* gap: 2rem; */
  /* display: flex;
  flex-direction: row;
  position: absolute;
  justify-content: center;
  align-items: center; */
}

.sort,
.filter {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
}

.select ::-ms-expand {
  display: none;
}

.select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 7px 10px;
  height: 20px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #f0f0f0;
  color: #7b7b7b;
  color: black;
  font-size: 1em;
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  position: relative;
  transition: all 0.25s ease;
}

.select :hover {
  background: #b1e8cd;
}

.sort {
  grid-column: 2/3;
  max-width: 120px;
  /* margin-left: 100px; */
}

.filter {
  grid-column: 3/4;
  max-width: 160px;
}

.containerLi {
  grid-column: 4/6;
  /* display: flex;
  flex-direction: row;
  gap: 20px; */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 1fr);
  color: var(--primary-font-color);
  list-style: none;
}

/* .gen {
  grid-row: 1/2;
  grid-column: 1;
  font-size: 1rem;
   margin: 0.2rem; 
  padding: 0.2rem;
  text-align: center;
   margin-left: 0.25rem; 
  color: var(--primary-font-color);
} */

.fil {
  /* grid-row: 1; */
  grid-column: 1;
  font-size: 1rem;
  /* margin: 0.2rem; */
  padding: 0.2rem;
  text-align: center;
  /* margin-left: 0.25rem; */
  color: var(--primary-font-color);
}

.li {
  /* grid-column: 2/7; */
  /* grid-row: 1/2; */
  font-size: 1rem;
  /* margin: 0.2rem; */
  padding: 0.2rem;
  text-align: center;
  /* margin-left: 0.25rem; */
  color: var(--primary-font-color);
}
